<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% include 'scrclubCMSBundle:cms:_include.html.twig' %}

</head>

<body>


{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% embed "scrclubCMSBundle:cms:upmenu.html.twig" %}{% endembed %}
{% endif %}

<div class="container">
    {% block fos_user_content %}{% endblock %}
</div>

{% block body %}{% endblock %}


<script>
    function newAlert(type, message) {
        $("#alert-area").append($("<div class='featurette alert-box fade in'><div class='alert alert-" + type + "' data-alert<p> " + message + " </p></div></div>"));
        $(".alert-box").delay(5000).fadeOut("slow", function () {
            $(this).remove();
        });
    }
</script>


</body>
</html>
