
    <script src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable(


                            {{results | raw}}



            );

            var options = {
                title: 'Pages view',
                animation:{
                    duration: 1000,
                    easing: 'out'
                },
                min: 0,
                height:126,
                fontName:"Helvetica Neue"
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

<div id="chart_div"></div>
